assets/*
!assets/.gitignore
protected/runtime/*
!protected/runtime/.gitignore
protected/data/*.db
images/*.jpg
images/medium/
images/thumbnail/
themes/classic/views/
protected/config/local.php
protected/config/vk.php
protected/config/fb.php
*.sublime-project
*.sublime-workspace
prepros.cfg
.phpintel