    .footer
      .row
        .col-sm-4.col-md-4.hidden-xs
          p.pull-left.condition
            i.icon.icon-visa data-toggle="tooltip" title=("Принимаем к оплате карты Visa") 
            i.icon.icon-mastercard data-toggle="tooltip" title=("Принимаем к оплате карты MasterCard") 
            i.icon.icon-ruble data-toggle="tooltip" title=("Принимаем к оплате наличные") 
            span.weinsoc.hidden-md.hidden-sm
              em —
              | ПРИНИМАЕМ К ОПЛАТЕ
        .col-xs-12.col-md-4.visible-xs
          p.text-center
            a.btn-soc href="https://www.facebook.com/cityquestru" target="_blank" 
              i.icon.icon-facebook
            a.btn-soc href="http://vk.com/cityquestru" target="_blank" 
              i.icon.icon-vk
            a.btn-soc href="http://instagram.com/cityquestru" target="_blank" 
              i.icon-instagram.icon
        .col-sm-4.col-md-4.col-xs-12
          p.text-center
            span.copy
              | © 2014-2015
              strong  CITYQUEST
            a.about_us href="/press_about_us" ПРЕССА О НАС
            a.about_us href="/press_about_us" Правила
        .col-sm-4.col-md-4.col-xs-12.hidden-xs
          p.pull-right.right-soc
            span.weinsoc.hidden-sm.hidden-md
              | мы в социальных сетях
              em —
            a.btn-soc href="https://www.facebook.com/cityquestru" target="_blank" 
              i.icon.icon-facebook
            a.btn-soc href="http://vk.com/cityquestru" target="_blank" 
              i.icon.icon-vk
            a.btn-soc href="http://instagram.com/cityquestru" target="_blank" 
              i.icon-instagram.icon
        .col-xs-12
          p.text-center.footer-addr
            | г. Москва, ул. Летниковская, д. 4, стр. 2
            br/
            span.ya-phone +7 (495) 540-53-97

    script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3&sensor=false"
    script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"
    script src="/js/bootstrap.min.js"
    script src="/js/jq.elastic.js"
    script src="/js/jquery.mask.min.js"
    script src="/js/main.js"

    #myModalMenu.modal.fade aria-hidden="true" role="dialog" tabindex="-1" 
      .modal-dialog
        .modal-content
          .modal-header.text-center
            button.close data-dismiss="modal" type="button" 
              span aria-hidden="true"  &times;
              span.sr-only Close
          .modal-body
            .row.right-nav-btn
              #for-select-city.col-xs-6.text-right
              #for-login.col-xs-6
            .row
              #for-menu.col-xs-12