meta charset="utf-8"
meta content="IE=edge" http-equiv="X-UA-Compatible"
meta content="" name="description"
meta content="" name="author"
link href="favicon.gif" rel="icon"
title CQ
meta content="width=device-width" name="viewport"
link href="/css/bootstrap.css" rel="stylesheet"
/![if lt IE 9]
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>