doctype html
html
  head
    == Slim::Template.new("head.slim").render
  body.inner.body-quest
    == Slim::Template.new("nav.slim").render

    .jumbotron.quest
      .container.text-center itemscope="" itemtype="http://schema.org/Product" 
        .row
          #carouselPhoto.carousel.slide.img-container data-ride="carousel" style=("width: 581px;") 
            ol.carousel-indicators
              li.active data-slide-to="0" data-target="#carouselPhoto" 
              li data-slide-to="1" data-target="#carouselPhoto" 
              li data-slide-to="2" data-target="#carouselPhoto" 
            .carousel-inner role="listbox" 
              .item.active
                img src="http://cityquest.ru/images/_MG_6944_site2.jpg"
              .item
                img src="http://cityquest.ru/images/_MG_6888_internet.jpg"
              .item
                img src="http://cityquest.ru/images/_MG_6991_internet.jpg"
          .col-sm-12.col-black
            p.text-center.quest-type.hidden
              i.icon.icon-spiral
              span.hidden-xs Обычные
            h1#quest_title itemprop="name" 
              | Бар "Дорогая, я перезвоню"
              a.arrow-quest.arrow-left href="/quest/theater" title=("Тайны старого театра") 
                span.glyphicon.glyphicon-menu-left
              a.arrow-quest.arrow-right href="/quest/time_machine" title=("Машина времени") 
                span.glyphicon.glyphicon-menu-right
            p.description.h2 itemprop="description"  Было ли у вас такое, что после веселой ночи вы не могли вспомнить половины событий? Но точно знали, что было круто! То же произошло и в этот раз. Вы с друзьями очнулись в запертой подсобке бара среди пустых бутылок, стоимость которых заставила задуматься: а кто же за все это будет платить? До открытия бара остался всего час, так что самое время выбираться отсюда!
        .clearfix
        .row.quest_description
          #quest_description_left.col-md-6.col-lg-5.col-xlg-4.col-xs-12
            .container-fluid.quest_description_left
              .row
                .col-md-4.col-sm-3.col-xs-12.text-left
                  i.icon.icon-alarm
                  p
                    em.gotham> 60
                    | минут
                .col-md-8.col-sm-3.col-xs-12.text-left
                  i.icon.icon-user.hidden-sm
                  i.icon.icon-user.hidden-sm
                  i.icon.icon-user.noactive.hidden-sm
                  i.icon.icon-user.noactive.last-man
                  p
                    em.gotham> 2-4
                    | игрока
                .clearfix.hidden-sm
                .col-md-4.col-sm-3.col-xs-5.text-left
                  i.icon.icon-triangle
                  p Простой
                .col-md-8.col-sm-3.col-xs-6.text-left
          #quest_description_right.col-md-5.col-lg-4.col-lg-offset-3.col-xlg-3.col-xlg-offset-5.col-xs-12
            .container-fluid.quest_description_right
              .row
                .col-xs-12.col-md-12.col-sm-3.text-left
                  i.icon.icon-metro
                  p
                    span.metro-title Баррикадная
                .col-xs-12.col-md-12.col-sm-9.text-left
                  i.icon.icon-point
                  p
                    | ул. Садовая-Кудринская 8-10-12
                    br
                    br
                    a href="" target="_blank"  Как добраться?



    .container.container-xlg
      .row
        .col-xs-12.text-center
          a.h2.twotab.active data-toggle="tab" href="#schedule" role="tab" 
            | Расписание
          a.h2.twotab data-toggle="tab" href="#winner" role="tab"  Победители
          hr.fadeOut/
        .clearfix
        .col-xs-12.ovs.tab-content
          #schedule.row.quests_schedules.fade.in.quest_schedule.tab-pane.active role="tabpanel" 
            .col-left
              .curent_date
                span.quest_date
                  em 31.
                  | 08
                small понедельник
            .col-right
              .oh
                .oh2
                  .row-seans.row
                    .btn.btn-q.disabled type="button" 00:15
                    .btn.btn-q.disabled type="button" 10:30
                    .btn.btn-q.disabled disabled="disabled" type="button" 11:45
                    .btn.btn-q.disabled type="button" 13:00
                    .btn.btn-q.disabled type="button" 14:15
                    .btn.btn-q disabled="disabled" type="button" 15:30
                    .btn.btn-q disabled="disabled" type="button" 16:45
                    .btn.btn-q type="button" 18:00
                    .btn.btn-q type="button" 19:15
                    .btn.btn-q type="button" 20:30
                    .btn.btn-q type="button" 21:45
                    .btn.btn-q disabled="disabled" type="button" 23:00
                  .row-price.row
                    .priceTbl.priceTbl-1 data-toggle="tooltip" title="" 
                      .priceRow
                        span.dashed &nbsp;
                        span.price content="3000" itemprop="price" 
                          em 3000
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб.
                        span.dashed &nbsp;
                    .priceTbl.priceTbl-6 data-toggle="tooltip" title="" 
                      .priceRow
                        span.dashed &nbsp;
                        span.price content="2500" itemprop="price" 
                          em 2500
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб.
                        span.dashed &nbsp;
                    .priceTbl.priceTbl-5 data-toggle="tooltip" title="" 
                      .priceRow
                        span.dashed &nbsp;
                        span.price content="3000" itemprop="price" 
                          em 3000
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб.
                        span.dashed &nbsp;
            
            .clearfix

            .col-left
              .curent_date
                span.quest_date
                  em 1.
                  | 09
                small вторник
            .col-right
              .oh
                .oh2
                  .row-seans.row
                    .btn.btn-q disabled="disabled" type="button" 00:15
                    .btn.btn-q disabled="disabled" type="button" 10:30
                    .btn.btn-q type="button" 11:45
                    .btn.btn-q type="button" 13:00
                    .btn.btn-q type="button" 14:15
                    .btn.btn-q disabled="disabled" type="button" 15:30
                    .btn.btn-q type="button" 16:45
                    .btn.btn-q type="button" 18:00
                    .btn.btn-q type="button" 19:15
                    .btn.btn-q type="button" 20:30
                    .btn.btn-q type="button" 21:45
                    .btn.btn-q type="button" 23:00
                  .row-price.row
                    .priceTbl.priceTbl-1 data-toggle="tooltip" title="" 
                      .priceRow
                        span.price content="3000" itemprop="price" 
                          em 3000
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб. 
                    .priceTbl.priceTbl-6 data-toggle="tooltip" title="" 
                      .priceRow
                        span.dashed &nbsp;
                        span.price content="2500" itemprop="price" 
                          em 2500
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб.
                        span.dashed &nbsp; 
                    .priceTbl.priceTbl-5 data-toggle="tooltip" title="" 
                      .priceRow
                        span.dashed &nbsp;
                        span.price content="3000" itemprop="price" 
                          em 3000
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб.
                        span.dashed &nbsp;
            
            .clearfix

            .col-left
              .curent_date
                span.quest_date
                  em 2.
                  | 09
                small среда
            .col-right
              .oh
                .oh2
                  .row-seans.row
                    .btn.btn-q disabled="disabled" type="button" 00:15
                    .btn.btn-q type="button" 10:30
                    .btn.btn-q type="button" 11:45
                    .btn.btn-q disabled="disabled" type="button" 13:00
                    .btn.btn-q type="button" 14:15
                    .btn.btn-q type="button" 15:30
                    .btn.btn-q type="button" 16:45
                    .btn.btn-q type="button" 18:00
                    .btn.btn-q type="button" 19:15
                    .btn.btn-q type="button" 20:30
                    .btn.btn-q type="button" 21:45
                    .btn.btn-q type="button" 23:00
                  .row-price.row
                    .priceTbl.priceTbl-12 data-toggle="tooltip" title="" 
                      .priceRow
                        span.dashed &nbsp;
                        span.price content="3000" itemprop="price" 
                          em 5000
                          em.rur content="RUB" itemprop="priceCurrency" 
                            em руб.
                        span.dashed &nbsp;

          #winner.row.tab-pane.fade role="tabpanel" 
            .col-sm-10.col-sm-offset-1
              .text-center.btn-group-month role="group" 
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_01" январь
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_02" февраль
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_03" март
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_04" апрель
                a.btn-month.btn.btn-xs.btn-link href="#month_05" май
                a.btn-month.btn.btn-xs.btn-link href="#month_06" июнь
                a.btn-month.btn.btn-xs.btn-link href="#month_07" июль
                a.btn-month.btn.btn-xs.btn-link.active href="#month_08" август
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_09" сентябрь
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_10" октябрь
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_11" ноябрь
                a.btn-month.btn.btn-xs.btn-link.disabled href="#month_12" декабрь
              .clearfix
              .tab-content

    #quests.container-fluid.bottom_quest
      .row
        .col-xs-12.col-md-4.col-sm-6.col-lg-4.col-xlg-4.item
          img.featurette-image.img-responsive alt=("Ночь в музее") src="http://cityquest.ru/images/museum2.jpg"
          a.descr href="/quest/museum" 
            h3.h2 Ночь в музее
            p.quest_info
              span
                i.icon.icon-user
                i.icon.icon-user
                i.icon.icon-user.noactive
                i.icon.icon-user.noactive
                strong 2 - 4
                | игрока
              span
                i.icon.icon-point
                | Волгоградский проспект 32 к.39
        .col-xs-12.col-md-4.col-sm-6.col-lg-4.col-xlg-4.item
          img.featurette-image.img-responsive alt="Склеп" src="http://cityquest.ru/images/_MG_0527_internet-site.jpg"
          a.descr href="/quest/crypt" 
            h3.h2 Склеп
            p.quest_info
              span
                i.icon.icon-user
                i.icon.icon-user
                i.icon.icon-user.noactive
                i.icon.icon-user.noactive
                strong 2 - 4
                | игрока
              span
                i.icon.icon-point
                | ул. Садовая-Кудринская 8-10-12
        .col-xs-12.col-md-4.col-sm-6.col-lg-4.col-xlg-4.item
          img.featurette-image.img-responsive alt=("Тонущий корабль") src="http://cityquest.ru/images/rubka.jpg"
          a.descr href="/quest/ship" 
            h3.h2 Тонущий корабль
            p.quest_info
              span
                i.icon.icon-user
                i.icon.icon-user
                i.icon.icon-user.noactive
                i.icon.icon-user.noactive
                strong 2 - 4
                | игрока
              span
                i.icon.icon-point
                | Спартаковский переулок д. 2, стр. 1
    == Slim::Template.new("footer.slim").render